body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.update-page {
    display: flex;
    justify-content: center;
    margin-top: 90px;
    margin-bottom: 20px;
}

.profile-cover {
    margin-top: 56px;
    position: relative;
    height: calc(46vh);
    background:
    radial-gradient(black 15%, transparent 16%) 0 0,
    radial-gradient(black 15%, transparent 16%) 8px 8px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
    background-color:#282828;
    background-size:16px 16px;
}

.profile-cover img {
    position: absolute;
    top: 90%;
    left: 25%;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    border: 5px solid #fff;
    transform: translate(-50%, -50%);
}

.logged-name {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 30px;
    color: #fff;
    transform: translate(-50%, -50%);
}

.under-cover {
    height: 60px;
    width: 100vw;
    display: flex;
    justify-content: flex-end;
    border-bottom: 2px solid rgb(216, 214, 214);
}

.update-profile {
    margin-right: 30px;
    height: 30px;
    margin-top: 15px;
    border: 1px solid maroon;
    color: maroon;
    padding: 0px 10px 0px 10px;
    border-radius: 20px;
}

.profile-pic {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: rgb(39, 38, 38, 0.8);
    font-family: fantasy;
    transform: translate(-50%, -50%);
}

.logged-visits {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #eee;
    margin-bottom: 10px;
    border-bottom: 2px solid rgb(223, 217, 217);
}

.logged_info {
    font-family: sans-serif;
    padding: 20px;
}

.logged_info .key {
    font-size: 14px;
    font-weight: 100;
    color: rgba(0, 0, 0, 0.9);
}
  
.logged_info .value {
    font-size: 14px;
    font-weight: 100;
    color: maroon;
}

.logged_name {
    font-family: Arial, Helvetica, sans-serif, fantasy;
    font-weight: 900;
    color: dimgray;
    margin-bottom: 10px;
  }

.visit-history {
    padding: 20px;
    background-color: #fff;
    margin: 10px;
}

.edit-main-bar {
    display: flex;
}

.edit-sidebar-container {
    background-color: lightsalmon;
}

.sidebar {
    width: 350px;
    padding-top: 5px;
}

.sidebar-icon {
    padding-top: 20px;
}

.sidebar-link {
    padding: 10px;
}

.sidebar-link:hover {
    border-right: 5px solid dimgray;
    background-color: gainsboro;
}

/********************* edit ********************************************/

.edit-the-main {
    background-color: gainsboro;
}

.edit-the-main form {
    border: 5px solid dimgray;
    padding: 20px 10px;
    margin-bottom: 5px;
}

.edit-the-main form input {
    border: 1px solid #eee;
    font-size: 14px;
    color: #ccc;
}

.edit-the-main form textarea {
    resize: none;
    color: #ccc;
    font-size: 14px;
}

.edit-the-main form .btn-warning {
    background-color: #333;
    border: 1px solid dimgray;
    color: #fff;
}

.profile-heading {
    color:#fff;
    text-align: center;
    font-family: sans-serif, serif;
    font-size: 20px;
    font-weight: 900;
    padding-bottom: 5px;
    text-shadow: 0 0 3px #fff, 0 0 5px #000;
}

.title-edit {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 15px;
    padding:3px;
    color: rgba(0, 0, 0, 0.7);
}

.wrong_input {
    color: red;
    font-style: oblique;
    font-size: 14px;
  }

.edit_tags {
    font-size: 14px;
    font-weight: 900;
    color: rgb(216, 19, 167);
}

.title-filter-tag {
    font-size: 13px;
    font-weight: 100px;
    color: salmon;
    padding: 2px;
    background-color: whitesmoke;
    border-radius: 10px;
    margin-bottom: 1px;
}

.selectField {
    height: 20px;
    padding: 1px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

/*
@media only screen and (max-width: 640px) {
    
    .filter-the-main hr, .filter-the-main br {
        display: none;
    }

    .filter-the-main {
        padding: 0px 3px 0px 3px;
    }
    
    .filter-heading {
        font-size: 14px;
        font-weight: 400;
    }
    
    .title-filter {
        font-weight: 200;
        font-size: 12px;
        padding:2px;
    }
    
    .all-tags {
        margin-bottom: 1px;
    }
    
    .title-filter-tag {
        font-size: 12px;
        padding: 1px;
        border-radius: 5px;
    }

    .range-filter {
        font-size: 12px;
    }
    
    .filter-range-value {
        font-size:12px;
        margin-bottom: 3px;
    }
    
    .inputField {
        height: 15px;
        padding: 1px;
        font-size: 12px;
        margin-bottom: 3px;
    }
}*/


/****************************************** content *******************************/
.main-edit-nav {
    width: 100%;
}

.edit-main-div-profile {
    padding-left: 10px;
    margin-top: 90px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.edit-main-div-profile .profile-div-center img {
    width: 320px;
    height: 380px;
}

.profile-div-center {
    font-family: Arial, Helvetica, sans-serif, fantasy;
    padding: 20px;
}

.name-centered {
    color: salmon;
    text-shadow: 2px 2px #aaa;
}

.image-upload {
    margin:10px 0px 10px 0px;
    font-size: 13px;
    color: salmon;
}

.profile-div-bottom {
    padding: 5px;
}

.profile-div-bottom  .key{
    font-weight: 900px;
    color: rgba(0, 0, 0, 0.9);
    font-family: Arial, Helvetica, sans-serif;
}

.profile-div-bottom  .value{
    font-weight: 100px;
    color: rgba(0, 0, 0, 0.6);
    font-family: Arial, Helvetica, sans-serif;
}

/*
@media only screen and (max-width: 640px) {
    .nuus-profile-page {
        margin-top: 50px;
    }
}*/