body {
    margin: 0 auto;
}

/************************** nav bar ******************************/

.navba {
  width: 100%;
  background-color: white;
  font-size: 15px;
  box-shadow: 0 5px 5px -5px dimgray;
}

.navba .logo-matcha {
  text-shadow: 2px 2px #888;
}

.nav-ba {
  width: 100%;
  background-color: white;
  font-size: 15px;
  box-shadow: 0 5px 5px -5px dimgray;
  top: 0;
  position: fixed;
  z-index: 200;
}

.nav-img img {
  width: 30px;
  height: 30px;
}

.nav-name {
  font-size: 15px;
}

.nav-ba .logo-matcha {
  text-shadow: 2px 2px #888;
}

.nav-tags {
  font-size: 20px;
}

.notify {
  background-color: red;
  color: #fff;
  font-size: x-small;
  padding: 1px 2px;
}

ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  padding: 20px;
}

li a {
  color: black;
  text-align: center;
  text-decoration: none;
  font-family: "Source Sans Pro",HelveticaNeue-Light,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
}

li a:hover {
  text-decoration: none;
}

.logo-matcha {
  font-weight: 600;
  font-size: 18px;
}

@media only screen and (max-width: 600px) {
    ul {
        font-size: 13px;
    }
    .logo-matcha {
        font-size: 15px;
    }
    li {
        padding: 20px 0px 20px 20px;
    }
    .nav-tags {
      font-size: 16px;
    }
}

/************************************** end of nav bar ************************************/

.main-container {
    font-size:1em;
    border:1px solid #eee;
    border-radius:4px;
    line-height:2em;
    text-decoration:none;
    -webkit-transition: all 0.3s linear;
     -khtml-transition: all 0.3s linear;
       -moz-transition: all 0.3s linear;
         -o-transition: all 0.3s linear;
            transition: all 0.3s linear;
}

/********************************************** footer *******************************/
.foota {
  left: 0;
  bottom: 0;
  box-shadow: 0 -5px 5px -5px dimgray;
  width: 100%;
  color: #111;
  text-align: center;
  line-height:2em;
  font-size: 14px;
  background-color: #fff;
  font-family: "Source Sans Pro",HelveticaNeue-Light,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
}

/************************************************** end of footer ************************/


/**************************** L 0 G - I N *************************************************/
.cover {
  position: relative;
  text-align: center;
  height: 70vh;
}

.cover img {
  height: 70vh;
}

.centered-logo-text {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
  color: rgb(39, 38, 38, 0.8);
  font-family: fantasy;
  transform: translate(-50%, -50%);
}

.bottom-cover {
  display: flex;
  justify-content: center;
  background:
  radial-gradient(circle closest-side at 60% 43%, #b03 26%, rgba(187,0,51,0) 27%),
  radial-gradient(circle closest-side at 40% 43%, #b03 26%, rgba(187,0,51,0) 27%),
  radial-gradient(circle closest-side at 40% 22%, #d35 45%, rgba(221,51,85,0) 46%),
  radial-gradient(circle closest-side at 60% 22%, #d35 45%, rgba(221,51,85,0) 46%),
  radial-gradient(circle closest-side at 50% 35%, #d35 30%, rgba(221,51,85,0) 31%),

  radial-gradient(circle closest-side at 60% 43%, #b03 26%, rgba(187,0,51,0) 27%) 50px 50px,
  radial-gradient(circle closest-side at 40% 43%, #b03 26%, rgba(187,0,51,0) 27%) 50px 50px,
  radial-gradient(circle closest-side at 40% 22%, #d35 45%, rgba(221,51,85,0) 46%) 50px 50px,
  radial-gradient(circle closest-side at 60% 22%, #d35 45%, rgba(221,51,85,0) 46%) 50px 50px,
  radial-gradient(circle closest-side at 50% 35%, #d35 30%, rgba(221,51,85,0) 31%) 50px 50px;
  background-color:#b03;
  background-size:100px 100px;
}

.signup-cover, .forgot-cover {
	background:
  radial-gradient(circle closest-side at 60% 43%, #b03 26%, rgba(187,0,51,0) 27%),
  radial-gradient(circle closest-side at 40% 43%, #b03 26%, rgba(187,0,51,0) 27%),
  radial-gradient(circle closest-side at 40% 22%, #d35 45%, rgba(221,51,85,0) 46%),
  radial-gradient(circle closest-side at 60% 22%, #d35 45%, rgba(221,51,85,0) 46%),
  radial-gradient(circle closest-side at 50% 35%, #d35 30%, rgba(221,51,85,0) 31%),

  radial-gradient(circle closest-side at 60% 43%, #b03 26%, rgba(187,0,51,0) 27%) 50px 50px,
  radial-gradient(circle closest-side at 40% 43%, #b03 26%, rgba(187,0,51,0) 27%) 50px 50px,
  radial-gradient(circle closest-side at 40% 22%, #d35 45%, rgba(221,51,85,0) 46%) 50px 50px,
  radial-gradient(circle closest-side at 60% 22%, #d35 45%, rgba(221,51,85,0) 46%) 50px 50px,
  radial-gradient(circle closest-side at 50% 35%, #d35 30%, rgba(221,51,85,0) 31%) 50px 50px;
  background-color:#b03;
  background-size:100px 100px;
	width: 100%;
}

.msg-signup {
  color: dimgray;
}

.forgot-cover {
	height: 100vh;
}

.form-forgot {
  margin-top: 50px;
}

.forms-cover {
  display: flex;
  justify-content: center;
}

.forms-container {
  width: 50%;
  margin: 40px 0px 40px 0px;
  padding: 20px;
  background-color: whitesmoke;
}
 

.signin-content-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.signin_img_box {
  margin: 20px;
  width: 240px;
  background: /*rgb(248, 244, 229)*/ white;
  border-left: 1px solid rgb(218, 215, 215);
  transition: all 1.8s ease;
  overflow: hidden;
  position: relative;
  border-radius: 8px;
  box-shadow: 5px 5px 3px #888;
  transition: all .8s ease-in-out;
}

.form_img_box:hover {
  cursor: pointer;
  transform: scale(1.08);
}

.signin-form {
  width: 50%;
  padding: 40px 0px 40px 0px;
}

.signin-form form .btn-primary {
  background-color: dimgray;
  border: 1px solid dimgray;
}

.forms-container .btn-success {
  background-color: dimgray;
  border: 1px solid dimgray;
}

.forms-container form input {
  font-size: small;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
    border: none;
}

.box > img {
    width: 100%;
    height: 200px;
}

@media only screen and (max-width: 600px) {
    .box > img {
        height: 300px;
        padding-bottom: 10px;
    }
    .signin-form {
      width: 90%;
    }
    .forms-container {
      width: 90%;
    }
    .centered-logo-text {
      font-size: 30px;
    }
    .form_img_box {
      margin: 0px 20px 20px 0px;
    }
}

.box {
    background-color: #eee;
    border: 1px solid #ccc;
    padding: 50px;
    margin: 10px;
}

.box .names {
    font-family: fantasy,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
}

.box:hover{
    -webkit-box-shadow:rgba(0,0,0,0.7) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
     -khtml-box-shadow:rgba(0,0,0,0.7) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
       -moz-box-shadow:rgba(0,0,0,0.7) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
         -o-box-shadow:rgba(0,0,0,0.7) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
            box-shadow:rgba(0,0,0,0.7) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
}

.display-login-error {
  color: #fff;
  font-size: 13px;
  font-weight: 600;
}

.display-form-error {
  color: crimson;
  font-size: 13px;
}

.btnStyle {
  margin: 5px;
}
/********************************************  END OF LOGIN *************************************/

/**************** Sign up **********************************/

.signup-container {
    border: 12px solid  rgba(0,0,0,0.8);
    display: flex;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.signup-main-container {
    background-color: #e6e6e6;
    padding: 100px 50px 50px 50px;
}

.signup-text-msg {
    font-size: 28px;
    color: rgba(0,0,0,0.5);
    font-family: sans-serif,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande";
}

.main-style {
    width: 60%;
}

@media only screen and (max-width: 600px) {
    .signup-container {
        border: 8px solid  rgba(0,0,0,0.8);
    }
    .signup-main-container {
        padding: 100px 10px 30px 10px;
    }
    .main-style {
        width: 100%;
    }
    .signup-text-msg {
        font-size: 20px;
        padding: 20px 10px 0px 10px;
    }
}


